/* 

font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; 

*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

header {
    width: 100vw;
    height: 38rem;
    background-image: linear-gradient($vltred2, $ltred2);
    border-radius: 0 0 0 5rem;
}

.header__container {
    background: url("../images/bg-pattern-intro.svg") left top no-repeat;
    background-size: 90rem;
    margin: 0 auto;
    height: 100%;
    max-width: 1200px;
    background-position: 38% 33%;
    border-radius: 0 0 0 5rem;
    font-family: 'Ubuntu', sans-serif;
}

.nav {
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogr__logo {
    background: url("../images/logo.svg") no-repeat;
    width: 7rem;
    height: 2.5rem;
}

.hamburger__img {
    background: url("../images/icon-hamburger.svg") no-repeat;
    width: 2rem;
    height: 1.5rem;

    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}

.nav__bar {
    display: none;
    position: absolute;
    background: $white;
    height: auto;
    top: 17%;
    width: 83%;
    left: 8.5%;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 14px 32px 10px rgba(0,0,0,0.14); 
    box-shadow: 0px 14px 32px 10px rgba(0,0,0,0.14);
}

.burger_active {

}

.nav_head_title {
    text-align: center;
    padding: 1.5rem;
    font-size: 1.3rem;
}

.sub_item {
    margin: 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
    background: $greyishblue;
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;


    a {
        text-decoration: none;
        color: $vdrblackblue;
        font-size: 1.3rem;
        padding: 1rem;
    }
}

.fa-chevron-down {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    color: $ltred2;
}

.line__break {
    width: 80%;
    height: 1px;
    color: $ltred2;
    margin-top: 2rem;
}

.mobile_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.mobile_login {
    text-decoration: none;
    color: $vdrblackblue;
    font-size: 1.3rem;
    margin: 1rem;
}

.mobile_sign_up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    width: 10rem;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: $white;
    background: linear-gradient(to right, $vltred2, $ltred2);
    border-radius: 2rem;
}

.hero__section {
    font-family: 'Overpass', sans-serif;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    .headers {
        text-align: center;

        h1 {
            font-size: 2.2rem;
            margin: 0 1.6rem 1.5rem 1.6rem;
            font-weight: 600;
            line-height: 2.7rem;
        }

        h3 {
            font-size: 1.2rem;
            margin: 0 1.6rem 0 1.6rem;
            line-height: 1.3rem;
        }
    }
}

.main__buttons {
    margin-top: 3rem;

    .start_for_free {
        margin: 0.5rem;
        text-decoration: none;
        background-color: $white;
        color: $ltred2;
        width: 8.7rem;
        height: 2.8rem;
        border: none;
        border-radius: 2rem;
        font-weight: 600;
        font-size: 1.1rem;
    }

    .learn_more {
        margin: 0.5rem;
        width: 8.7rem;
        height: 2.8rem;
        border: 1px solid $white;
        border-radius: 2rem;
        font-weight: 600;
        background: none;
        color: $white;
        font-size: 1.1rem;
    }

    @media (max-width: 320px) {
        display: flex;
        flex-direction: column;
    }
}