/* 

font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; 

*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

header {
    width: 100vw;
    height: 38rem;
    background-image: linear-gradient(to right, $vltred2, $ltred2);
    border-radius: 0 0 0 5rem;
}

.header__container {
    background: url("../images/bg-pattern-intro.svg") left top no-repeat;
    background-size: 90rem;
    margin: 0 auto;
    height: 100%;
    background-position: 38% 33%;
    border-radius: 0 0 0 5rem;
    font-family: 'Ubuntu', sans-serif;

    @media (min-width: $breakpoint-desktop) {
        background-size: 190rem;
        background-position: 30% 52%;
    }
}

.nav__container {
    margin: 0 auto;
    padding: 4rem 1.5rem 1.5rem 1.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
}

.blogr__logo {
    background: url("../images/logo.svg") no-repeat;
    width: 7rem;
    height: 2.5rem;
}

.nav_items_right {
    @media (min-width: $breakpoint-desktop) {
        width: 63rem;
    }
}

.hamburger__img {
    background: url("../images/icon-hamburger.svg") no-repeat;
    width: 2rem;
    height: 1.5rem;

    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}

.nav__bar {
    display: none;
    position: absolute;
    background: $white;
    height: auto;
    top: 17%;
    width: 83%;
    left: 8.5%;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 14px 32px 10px rgba(0,0,0,0.14); 
    box-shadow: 0px 14px 32px 10px rgba(0,0,0,0.14);
    

    @media (max-width: 320px) {
       top: 25%;
    }

    @media (min-width: $breakpoint-desktop) {
        display: flex;
        align-items: center;
        justify-content: space-between;
        background: none;
        box-shadow: none;
        top: 0px;
        width: 100%;
        left: 0px;
        position: unset;
    }
}

.burger_active {
    display: block;
}

.nav_head_title {
    margin: 1.5rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: center;
}

.nav__items {
    display: flex;
    flex-direction: column;
    margin-bottom: 2px;
    cursor: pointer;

    @media (min-width: $breakpoint-desktop) {
        flex-direction: row;
    }
}

.nav__item:hover .nav_head_title{
    @media (min-width: $breakpoint-desktop) {
        /* border-bottom: 2px solid $white;
        margin-bottom: 0px; */
        /* font-weight: 600; */
    }
}

.nav__item:hover .sub_item {

    @media (min-width: $breakpoint-desktop) {
        display: flex;
        position: absolute;
        top: 20%;
        width: 11rem;
        background-color: #f1f1f1;
        z-index: 1;
        -webkit-box-shadow: 0px 14px 32px 10px rgba(0,0,0,0.14); 
        box-shadow: 0px 14px 32px 10px rgba(0,0,0,0.14);
    }
}

.sub_item {
    margin: 0 auto;
    display: none;
    flex-direction: column;
    align-items: center;
    background: $greyishblue;
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;
    transition-property: all;
	transition-duration: .5s;
	transition-timing-function: cubic-bezier(0, 1, 0.5, 1);


    a {
        text-decoration: none;
        color: $vdrblackblue;
        font-size: 1.3rem;
        padding: 1rem;
    }

    @media (min-width: $breakpoint-desktop) {
        align-items: flex-start;
    }

    :hover {
        font-weight: 600;
    }
}

.sub_item_active {
    display: flex;
}

.nav_head_title {
    @media (min-width: $breakpoint-desktop) {
        display: flex;
        color: $white;
    }
}

.fa-chevron-down {
    font-size: 0.8rem;
    margin: 0.4rem;
    color: $ltred2;
    transition: all 0.2s linear;

    @media (min-width: $breakpoint-desktop) {
        color: $white;
        display: flex;
        align-items: center;
        padding-left: 0.2rem;
        padding-top: 0.2rem;
        margin: 0rem 0.4rem;
    }
}

.rotate {
    -ms-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
    transform-origin: center center;
}

.line__break {
    width: 80%;
    height: 1px;
    color: $ltred2;
    margin-top: 2rem;

    @media (min-width: $breakpoint-desktop) {
        display: none;
    }
}

.mobile_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;

    @media (min-width: $breakpoint-desktop) {
        flex-direction: row;
    }
}

.mobile_login {
    text-decoration: none;
    color: $vdrblackblue;
    font-size: 1.3rem;
    margin: 1rem;

    @media (min-width: $breakpoint-desktop) {
        color: $white;
        margin: 0rem 1rem 0rem 0rem;
    }
}

.mobile_sign_up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    width: 10rem;
    height: 3.5rem;
    font-size: 1.3rem;
    font-weight: 500;
    color: $white;
    background: linear-gradient(to right, $vltred2, $ltred2);
    border-radius: 2rem;
    transition: 0.1s ease-in-out;

    @media (min-width: $breakpoint-desktop) {
        background: $white;
        color: $ltred2;
        margin: 0rem 0rem 0rem 1rem;
    }
}

.mobile_sign_up:hover {
    background: $vltred;
    color: $white;
}

.hero__section {
    font-family: 'Overpass', sans-serif;
    margin-top: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $white;

    .headers {
        text-align: center;

        h1 {
            font-size: 2.2rem;
            margin: 0 1.6rem 1.5rem 1.6rem;
            font-weight: 600;
            line-height: 2.7rem;

            @media (min-width: $breakpoint-desktop) {
                font-size: 3.6rem;
            }
        }

        h3 {
            font-size: 1.2rem;
            margin: 0 1.6rem 0 1.6rem;
            line-height: 1.3rem;

            @media (min-width: $breakpoint-desktop) {
                font-size: 1.6rem;
                padding-top: 1.4rem;
            }
        }
    }
}

.main__buttons {
    margin-top: 3rem;

    .start_for_free {
        margin: 0.5rem;
        text-decoration: none;
        background-color: $white;
        color: $ltred2;
        width: 9.6rem;
        height: 2.8rem;
        border: none;
        border-radius: 2rem;
        font-weight: 600;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    .learn_more {
        margin: 0.5rem;
        width: 8.7rem;
        height: 2.8rem;
        border: 1px solid $white;
        border-radius: 2rem;
        font-weight: 600;
        background: none;
        color: $white;
        font-size: 1.1rem;
        cursor: pointer;
        transition: 0.2s ease-in-out;
    }

    @media (max-width: 320px) {
        display: flex;
        flex-direction: column;
    }
}

.start_for_free:hover {
    background: $vltred;
    color: $white;
}

.learn_more:hover {
    background: $white;
    color: $ltred;
}