/* 

font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; 

*/

@import './colours.scss';

header {
    width: 100vw;
    height: 38rem;
    background-image: linear-gradient($vltred2, $ltred2);
    border-radius: 0 0 0 5rem;
}

.header__container {
    background: url("../images/bg-pattern-intro.svg") left top no-repeat;
    background-size: 80rem;
    height: 100%;
    width: 100%;
    background-position: 34% 33%;
    border-radius: 0 0 0 5rem;
}

.nav {
    padding: 4rem 2rem 2rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.blogr__logo {
    background: url("../images/logo.svg") no-repeat;
    width: 7rem;
    height: 2.5rem;
}

.hamburger {
    background: url("../images/icon-hamburger.svg") no-repeat;
    width: 2rem;
    height: 1.5rem;
}

.nav__bar {
    position: absolute;
    background: $white;
    height: auto;
    top: 17%;
    width: 83%;
    left: 8.5%;
    border-radius: 0.5rem;
    -webkit-box-shadow: 0px 14px 32px 10px rgba(0,0,0,0.14); 
    box-shadow: 0px 14px 32px 10px rgba(0,0,0,0.14);
}

.nav_head_title {
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    padding: 1.5rem;
    font-size: 1.3rem;
}

.sub_item {
    margin: 0 auto;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    background: $greyishblue;
    width: 80%;
    padding: 1rem;
    border-radius: 0.5rem;


    a {
        text-decoration: none;
        color: $vdrblackblue;
        font-size: 1.3rem;
        padding: 1rem;
    }
}

.fa-chevron-down {
    font-size: 0.8rem;
    margin-left: 0.4rem;
    color: $ltred2;
}

.line__break {
    width: 80%;
    height: 1px;
    color: $ltred2;
    margin-top: 2rem;
}

.mobile_buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
}

.mobile_login {
    text-decoration: none;
    color: $vdrblackblue;
    font-size: 1.3rem;
    font-family: 'Ubuntu', sans-serif;
    margin: 1rem;
}

.mobile_sign_up {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    margin: 1rem;
    width: 10rem;
    height: 3.5rem;
    font-family: 'Ubuntu', sans-serif;
    font-size: 1.3rem;
    font-weight: 500;
    color: $white;
    background: linear-gradient(to right, $vltred2, $ltred2);
    border-radius: 2rem;
}