/* 

font-family: 'Overpass', sans-serif;
font-family: 'Ubuntu', sans-serif; 

*/

$breakpoint-tablet: 768px;
$breakpoint-desktop: 900px;

@import './colours.scss';

.main_2 {
    margin-top: 15rem;
    font-family: 'Overpass', sans-serif;
    color: $white;
    background-color: $vdrgreyblue;
    background-image: url("../images/bg-pattern-circles.svg");
    background-repeat: no-repeat;
    background-size: 155%;
    background-position: center -347%;
    border-radius: 0 5rem 0;

    @media (max-width: 370px) {
        background-position: center -0%;
    }

    @media (min-width: $breakpoint-desktop) {
        display: flex;
        align-items: center;
        flex-direction: row-reverse;
        background-size: 75%;
        background-position: -62% 79%;
    }

    .phones_img {
        background-image: url("../images/illustration-phones.svg");
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        transform: translateY(-46%);
        width: 23rem;
        height: 23rem;

        @media (max-width: 370px) {
            width: 17rem;
            height: 17rem;
        }

        @media (min-width: $breakpoint-desktop) {
            transform: translateY(-10%);
            transform: translateX(-167%);
            position: absolute;
            width: 31rem;
            height: 61rem;
            background-size: 115%;
            z-index: 10;
        }
    }

    .main_text_container_2 {
        text-align: center;
        transform: translateY(-60%);

        @media (max-width: 370px) {
            transform: translateY(-30%);
        }

        @media (min-width: $breakpoint-desktop) {
            text-align: left;
            transform: translateY(0%);
            width: 51rem;
            padding: 6rem;
        }
    }

    h1 {
        font-size: 2.5rem;
        font-weight: 600;
        margin: 1rem;
        line-height: 2.5rem;
    }

    p {
        font-size: 1.1rem;
        margin: 0 1.4rem;
        line-height: 1.7rem;
    }
}